<table class="pl-video-table" id="pl-video-table">
    <tbody id="pl-load-more-destination">
    <tr class="pl-video yt-uix-tile" data-set-video-id="" data-title="День 1. Воркшоп по веб-разработке" data-video-id="nMtsp1zvbQU">
        <td class="pl-video-handle">
        </td>
        <td class="pl-video-index">
        </td>
        <td class="pl-video-thumbnail">
    <span class="pl-video-thumb ux-thumb-wrap contains-addto">
     <a aria-hidden="true" class="yt-uix-sessionlink"
        data-sessionlink="ei=8eHsXM2uMILcyAXxtLWQDA&amp;feature=plpp_video&amp;ved=CA4QxjQYACITCI3rjtXYveICFQIusgodcVoNwij6LA"
        href="/watch?v=nMtsp1zvbQU&amp;list=PL3LQJkGQtzc6n5O0gUQ73-BcMKT_MiXhB&amp;index=2&amp;t=0s">
      <span class="video-thumb yt-thumb yt-thumb-72">
       <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
         <img alt="" aria-hidden="true"
              data-thumb="https://i.ytimg.com/vi/nMtsp1zvbQU/hqdefault.jpg?sqp=-oaymwEiCKgBEF5IWvKriqkDFQgBFQAAAAAYASUAAMhCPQCAokN4AQ==&amp;rs=AOn4CLCWTYg1YADf87i3SxeLXXhjmq93Tw"
              data-ytimg="1" onload=";window.__ytRIL &amp;&amp; __ytRIL(this)" src="/yts/img/pixel-vfl3z5WfW.gif"
              width="72"/>
         <span class="vertical-align">
         </span>
        </span>
       </span>
      </span>
     </a>
     <span class="thumb-menu dark-overflow-action-menu video-actions">
      <button aria-expanded="false" aria-haspopup="true"
              class="yt-uix-button-reverse flip addto-watch-queue-menu spf-nolink hide-until-delayloaded yt-uix-button yt-uix-button-dark-overflow-action-menu yt-uix-button-size-default yt-uix-button-has-icon no-icon-markup yt-uix-button-empty"
              onclick=";return false;" type="button">
       <span class="yt-uix-button-arrow yt-sprite">
       </span>
       <ul class="watch-queue-thumb-menu yt-uix-button-menu yt-uix-button-menu-dark-overflow-action-menu hid">
        <li class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-next yt-uix-button-menu-item"
            data-action="play-next" data-video-ids="nMtsp1zvbQU" onclick=";return false;" role="menuitem">
         <span class="addto-watch-queue-menu-text">
          Включить следующим
         </span>
        </li>
        <li class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-now yt-uix-button-menu-item"
            data-action="play-now" data-video-ids="nMtsp1zvbQU" onclick=";return false;" role="menuitem">
         <span class="addto-watch-queue-menu-text">
          Воспроизвести
         </span>
        </li>
       </ul>
      </button>
     </span>
     <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button video-actions spf-nolink hide-until-delayloaded addto-watch-later-button-sign-in yt-uix-tooltip"
             data-button-menu-id="shared-addto-watch-later-login" data-video-ids="nMtsp1zvbQU" onclick=";return false;"
             role="button" title="Посмотреть позже" type="button">
      <span class="yt-uix-button-arrow yt-sprite">
      </span>
     </button>
     <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button addto-queue-button video-actions spf-nolink hide-until-delayloaded addto-tv-queue-button yt-uix-tooltip"
             data-style="tv-queue" data-video-ids="nMtsp1zvbQU" onclick=";return false;" title="Очередь" type="button">
     </button>
    </span>
        </td>
        <td class="pl-video-title">
            <a class="pl-video-title-link yt-uix-tile-link yt-uix-sessionlink spf-link"
               data-sessionlink="ei=8eHsXM2uMILcyAXxtLWQDA&amp;feature=plpp_video&amp;ved=CA4QxjQYACITCI3rjtXYveICFQIusgodcVoNwij6LA"
               dir="ltr" href="/watch?v=nMtsp1zvbQU&amp;list=PL3LQJkGQtzc6n5O0gUQ73-BcMKT_MiXhB&amp;index=2&amp;t=0s">
                День 1. Воркшоп по веб-разработке
            </a>
            <div class="pl-video-owner">
                <a class="yt-uix-sessionlink spf-link"
                   data-sessionlink="ei=8eHsXM2uMILcyAXxtLWQDA&amp;feature=playlist&amp;ved=CA4QxjQYACITCI3rjtXYveICFQIusgodcVoNwij6LA"
                   href="/channel/UCVswRUcKC-M35RzgPRv8qUg">
                    Glo Academy — HTML, CSS и JS
                </a>
            </div>
            <div class="pl-video-bottom-standalone-badge">
            </div>
        </td>
        <td class="pl-video-badges">
        </td>
        <td class="pl-video-added-by">
        </td>
        <td class="pl-video-time">
            <div class="more-menu-wrapper">
                <div class="timestamp">
                  <span aria-label="1 час 15 минут">
                   1:15:10
                  </span>
                </div>
                <div class="pl-video-edit-options">
                </div>
            </div>
        </td>
    </tr>
    <tr class="pl-video yt-uix-tile" data-set-video-id="" data-title="День 2. Воркшоп по веб-разработке"
        data-video-id="IXYuuppRJGA">
        <td class="pl-video-handle">
        </td>
        <td class="pl-video-index">
        </td>
        <td class="pl-video-thumbnail">
    <span class="pl-video-thumb ux-thumb-wrap contains-addto">
     <a aria-hidden="true" class="yt-uix-sessionlink"
        data-sessionlink="ei=8eHsXM2uMILcyAXxtLWQDA&amp;feature=plpp_video&amp;ved=CA8QxjQYASITCI3rjtXYveICFQIusgodcVoNwij6LA"
        href="/watch?v=IXYuuppRJGA&amp;list=PL3LQJkGQtzc6n5O0gUQ73-BcMKT_MiXhB&amp;index=3&amp;t=0s">
      <span class="video-thumb yt-thumb yt-thumb-72">
       <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
         <img alt="" aria-hidden="true"
              data-thumb="https://i.ytimg.com/vi/IXYuuppRJGA/hqdefault.jpg?sqp=-oaymwEiCKgBEF5IWvKriqkDFQgBFQAAAAAYASUAAMhCPQCAokN4AQ==&amp;rs=AOn4CLDS7qE43X60LyseiXtJJdcu3f9Slg"
              data-ytimg="1" onload=";window.__ytRIL &amp;&amp; __ytRIL(this)" src="/yts/img/pixel-vfl3z5WfW.gif"
              width="72"/>
         <span class="vertical-align">
         </span>
        </span>
       </span>
      </span>
     </a>
     <span class="thumb-menu dark-overflow-action-menu video-actions">
      <button aria-expanded="false" aria-haspopup="true"
              class="yt-uix-button-reverse flip addto-watch-queue-menu spf-nolink hide-until-delayloaded yt-uix-button yt-uix-button-dark-overflow-action-menu yt-uix-button-size-default yt-uix-button-has-icon no-icon-markup yt-uix-button-empty"
              onclick=";return false;" type="button">
       <span class="yt-uix-button-arrow yt-sprite">
       </span>
       <ul class="watch-queue-thumb-menu yt-uix-button-menu yt-uix-button-menu-dark-overflow-action-menu hid">
        <li class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-next yt-uix-button-menu-item"
            data-action="play-next" data-video-ids="IXYuuppRJGA" onclick=";return false;" role="menuitem">
         <span class="addto-watch-queue-menu-text">
          Включить следующим
         </span>
        </li>
        <li class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-now yt-uix-button-menu-item"
            data-action="play-now" data-video-ids="IXYuuppRJGA" onclick=";return false;" role="menuitem">
         <span class="addto-watch-queue-menu-text">
          Воспроизвести
         </span>
        </li>
       </ul>
      </button>
     </span>
     <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button video-actions spf-nolink hide-until-delayloaded addto-watch-later-button-sign-in yt-uix-tooltip"
             data-button-menu-id="shared-addto-watch-later-login" data-video-ids="IXYuuppRJGA" onclick=";return false;"
             role="button" title="Посмотреть позже" type="button">
      <span class="yt-uix-button-arrow yt-sprite">
      </span>
     </button>
     <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button addto-queue-button video-actions spf-nolink hide-until-delayloaded addto-tv-queue-button yt-uix-tooltip"
             data-style="tv-queue" data-video-ids="IXYuuppRJGA" onclick=";return false;" title="Очередь" type="button">
     </button>
    </span>
        </td>
        <td class="pl-video-title">
            <a class="pl-video-title-link yt-uix-tile-link yt-uix-sessionlink spf-link"
               data-sessionlink="ei=8eHsXM2uMILcyAXxtLWQDA&amp;feature=plpp_video&amp;ved=CA8QxjQYASITCI3rjtXYveICFQIusgodcVoNwij6LA"
               dir="ltr" href="/watch?v=IXYuuppRJGA&amp;list=PL3LQJkGQtzc6n5O0gUQ73-BcMKT_MiXhB&amp;index=3&amp;t=0s">
                День 2. Воркшоп по веб-разработке
            </a>
            <div class="pl-video-owner">
                <a class="yt-uix-sessionlink spf-link"
                   data-sessionlink="ei=8eHsXM2uMILcyAXxtLWQDA&amp;feature=playlist&amp;ved=CA8QxjQYASITCI3rjtXYveICFQIusgodcVoNwij6LA"
                   href="/channel/UCVswRUcKC-M35RzgPRv8qUg">
                    Glo Academy — HTML, CSS и JS
                </a>
            </div>
            <div class="pl-video-bottom-standalone-badge">
            </div>
        </td>
        <td class="pl-video-badges">
        </td>
        <td class="pl-video-added-by">
        </td>
        <td class="pl-video-time">
            <div class="more-menu-wrapper">
                <div class="timestamp">
      <span aria-label="1 час 14 минут">
       1:14:59
      </span>
                </div>
                <div class="pl-video-edit-options">
                </div>
            </div>
        </td>
    </tr>
    <tr class="pl-video yt-uix-tile" data-set-video-id="" data-title="День 3. Воркшоп по веб-разработке"
        data-video-id="m4bmy-y7-GE">
        <td class="pl-video-handle">
        </td>
        <td class="pl-video-index">
        </td>
        <td class="pl-video-thumbnail">
    <span class="pl-video-thumb ux-thumb-wrap contains-addto">
     <a aria-hidden="true" class="yt-uix-sessionlink"
        data-sessionlink="ei=8eHsXM2uMILcyAXxtLWQDA&amp;feature=plpp_video&amp;ved=CBAQxjQYAiITCI3rjtXYveICFQIusgodcVoNwij6LA"
        href="/watch?v=m4bmy-y7-GE&amp;list=PL3LQJkGQtzc6n5O0gUQ73-BcMKT_MiXhB&amp;index=4&amp;t=0s">
      <span class="video-thumb yt-thumb yt-thumb-72">
       <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
         <img alt="" aria-hidden="true"
              data-thumb="https://i.ytimg.com/vi/m4bmy-y7-GE/hqdefault.jpg?sqp=-oaymwEiCKgBEF5IWvKriqkDFQgBFQAAAAAYASUAAMhCPQCAokN4AQ==&amp;rs=AOn4CLDqMCg0kW2FvurE4m7cEf25dqQbew"
              data-ytimg="1" onload=";window.__ytRIL &amp;&amp; __ytRIL(this)" src="/yts/img/pixel-vfl3z5WfW.gif"
              width="72"/>
         <span class="vertical-align">
         </span>
        </span>
       </span>
      </span>
     </a>
     <span class="thumb-menu dark-overflow-action-menu video-actions">
      <button aria-expanded="false" aria-haspopup="true"
              class="yt-uix-button-reverse flip addto-watch-queue-menu spf-nolink hide-until-delayloaded yt-uix-button yt-uix-button-dark-overflow-action-menu yt-uix-button-size-default yt-uix-button-has-icon no-icon-markup yt-uix-button-empty"
              onclick=";return false;" type="button">
       <span class="yt-uix-button-arrow yt-sprite">
       </span>
       <ul class="watch-queue-thumb-menu yt-uix-button-menu yt-uix-button-menu-dark-overflow-action-menu hid">
        <li class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-next yt-uix-button-menu-item"
            data-action="play-next" data-video-ids="m4bmy-y7-GE" onclick=";return false;" role="menuitem">
         <span class="addto-watch-queue-menu-text">
          Включить следующим
         </span>
        </li>
        <li class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-now yt-uix-button-menu-item"
            data-action="play-now" data-video-ids="m4bmy-y7-GE" onclick=";return false;" role="menuitem">
         <span class="addto-watch-queue-menu-text">
          Воспроизвести
         </span>
        </li>
       </ul>
      </button>
     </span>
     <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button video-actions spf-nolink hide-until-delayloaded addto-watch-later-button-sign-in yt-uix-tooltip"
             data-button-menu-id="shared-addto-watch-later-login" data-video-ids="m4bmy-y7-GE" onclick=";return false;"
             role="button" title="Посмотреть позже" type="button">
      <span class="yt-uix-button-arrow yt-sprite">
      </span>
     </button>
     <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button addto-queue-button video-actions spf-nolink hide-until-delayloaded addto-tv-queue-button yt-uix-tooltip"
             data-style="tv-queue" data-video-ids="m4bmy-y7-GE" onclick=";return false;" title="Очередь" type="button">
     </button>
    </span>
        </td>
        <td class="pl-video-title">
            <a class="pl-video-title-link yt-uix-tile-link yt-uix-sessionlink spf-link"
               data-sessionlink="ei=8eHsXM2uMILcyAXxtLWQDA&amp;feature=plpp_video&amp;ved=CBAQxjQYAiITCI3rjtXYveICFQIusgodcVoNwij6LA"
               dir="ltr" href="/watch?v=m4bmy-y7-GE&amp;list=PL3LQJkGQtzc6n5O0gUQ73-BcMKT_MiXhB&amp;index=4&amp;t=0s">
                День 3. Воркшоп по веб-разработке
            </a>
            <div class="pl-video-owner">
                <a class="yt-uix-sessionlink spf-link"
                   data-sessionlink="ei=8eHsXM2uMILcyAXxtLWQDA&amp;feature=playlist&amp;ved=CBAQxjQYAiITCI3rjtXYveICFQIusgodcVoNwij6LA"
                   href="/channel/UCVswRUcKC-M35RzgPRv8qUg">
                    Glo Academy — HTML, CSS и JS
                </a>
            </div>
            <div class="pl-video-bottom-standalone-badge">
            </div>
        </td>
        <td class="pl-video-badges">
        </td>
        <td class="pl-video-added-by">
        </td>
        <td class="pl-video-time">
            <div class="more-menu-wrapper">
                <div class="timestamp">
      <span aria-label="45 минут">
       45:49
      </span>
                </div>
                <div class="pl-video-edit-options">
                </div>
            </div>
        </td>
    </tr>
    <tr class="pl-video yt-uix-tile" data-set-video-id="" data-title="День 4. Итоги воркшопа. Продолжение?"
        data-video-id="Zi0wYSf2TAc">
        <td class="pl-video-handle">
        </td>
        <td class="pl-video-index">
        </td>
        <td class="pl-video-thumbnail">
    <span class="pl-video-thumb ux-thumb-wrap contains-addto">
     <a aria-hidden="true" class="yt-uix-sessionlink"
        data-sessionlink="ei=8eHsXM2uMILcyAXxtLWQDA&amp;feature=plpp_video&amp;ved=CBEQxjQYAyITCI3rjtXYveICFQIusgodcVoNwij6LA"
        href="/watch?v=Zi0wYSf2TAc&amp;list=PL3LQJkGQtzc6n5O0gUQ73-BcMKT_MiXhB&amp;index=5&amp;t=0s">
      <span class="video-thumb yt-thumb yt-thumb-72">
       <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
         <img alt="" aria-hidden="true"
              data-thumb="https://i.ytimg.com/vi/Zi0wYSf2TAc/hqdefault.jpg?sqp=-oaymwEiCKgBEF5IWvKriqkDFQgBFQAAAAAYASUAAMhCPQCAokN4AQ==&amp;rs=AOn4CLBJ21zpJws_sMXmjGBao2kT18ixuQ"
              data-ytimg="1" onload=";window.__ytRIL &amp;&amp; __ytRIL(this)" src="/yts/img/pixel-vfl3z5WfW.gif"
              width="72"/>
         <span class="vertical-align">
         </span>
        </span>
       </span>
      </span>
     </a>
     <span class="thumb-menu dark-overflow-action-menu video-actions">
      <button aria-expanded="false" aria-haspopup="true"
              class="yt-uix-button-reverse flip addto-watch-queue-menu spf-nolink hide-until-delayloaded yt-uix-button yt-uix-button-dark-overflow-action-menu yt-uix-button-size-default yt-uix-button-has-icon no-icon-markup yt-uix-button-empty"
              onclick=";return false;" type="button">
       <span class="yt-uix-button-arrow yt-sprite">
       </span>
       <ul class="watch-queue-thumb-menu yt-uix-button-menu yt-uix-button-menu-dark-overflow-action-menu hid">
        <li class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-next yt-uix-button-menu-item"
            data-action="play-next" data-video-ids="Zi0wYSf2TAc" onclick=";return false;" role="menuitem">
         <span class="addto-watch-queue-menu-text">
          Включить следующим
         </span>
        </li>
        <li class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-now yt-uix-button-menu-item"
            data-action="play-now" data-video-ids="Zi0wYSf2TAc" onclick=";return false;" role="menuitem">
         <span class="addto-watch-queue-menu-text">
          Воспроизвести
         </span>
        </li>
       </ul>
      </button>
     </span>
     <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button video-actions spf-nolink hide-until-delayloaded addto-watch-later-button-sign-in yt-uix-tooltip"
             data-button-menu-id="shared-addto-watch-later-login" data-video-ids="Zi0wYSf2TAc" onclick=";return false;"
             role="button" title="Посмотреть позже" type="button">
      <span class="yt-uix-button-arrow yt-sprite">
      </span>
     </button>
     <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button addto-queue-button video-actions spf-nolink hide-until-delayloaded addto-tv-queue-button yt-uix-tooltip"
             data-style="tv-queue" data-video-ids="Zi0wYSf2TAc" onclick=";return false;" title="Очередь" type="button">
     </button>
    </span>
        </td>
        <td class="pl-video-title">
            <a class="pl-video-title-link yt-uix-tile-link yt-uix-sessionlink spf-link"
               data-sessionlink="ei=8eHsXM2uMILcyAXxtLWQDA&amp;feature=plpp_video&amp;ved=CBEQxjQYAyITCI3rjtXYveICFQIusgodcVoNwij6LA"
               dir="ltr" href="/watch?v=Zi0wYSf2TAc&amp;list=PL3LQJkGQtzc6n5O0gUQ73-BcMKT_MiXhB&amp;index=5&amp;t=0s">
                День 4. Итоги воркшопа. Продолжение?
            </a>
            <div class="pl-video-owner">
                <a class="yt-uix-sessionlink spf-link"
                   data-sessionlink="ei=8eHsXM2uMILcyAXxtLWQDA&amp;feature=playlist&amp;ved=CBEQxjQYAyITCI3rjtXYveICFQIusgodcVoNwij6LA"
                   href="/channel/UCVswRUcKC-M35RzgPRv8qUg">
                    Glo Academy — HTML, CSS и JS
                </a>
            </div>
            <div class="pl-video-bottom-standalone-badge">
            </div>
        </td>
        <td class="pl-video-badges">
        </td>
        <td class="pl-video-added-by">
        </td>
        <td class="pl-video-time">
            <div class="more-menu-wrapper">
                <div class="timestamp">
      <span aria-label="56 минут">
       56:53
      </span>
                </div>
                <div class="pl-video-edit-options">
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
